<section *ngIf="student">
  <h2>Edition #{{student.id}} <i>{{student.name}}</i></h2>

  <div>
    <label for="name">First and Last name:</label>
    <input type="text" id="name" [(ngModel)]="student.name">
  </div>

  <div>
    <label for="email">Address e-mail:</label>
    <input type="email" id="email" [(ngModel)]="student.email">
  </div>

  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" [(ngModel)]="student.username">
  </div>

  <div>
    <label for="phone">Phone:</label>
    <input type="text" id="phone" [(ngModel)]="student.phone">
  </div>

  <div>
    <label for="address">Address City Name:</label>
    <input type="text" id="address" [(ngModel)]="student.address.city">
  </div>

  <div>
    <label for="company">Company Name:</label>
    <input type="text" id="company" [(ngModel)]="student.company.name">
  </div>

  <div>
    <label for="Website">Website:</label>
    <input type="text" id="website" [(ngModel)]="student.website">
  </div>

  <div>
    <button (click)="goBack()" class="button">Back</button>
    <button (click)="save()" class="button button-green">Save</button>
  </div>
</section>
